@tailwind base;
@tailwind components;
@tailwind utilities;

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@font-face {
  font-family: "Lato-Regular";
  src: url("/fonts/Lato/Lato-Regular/Lato-Regular.woff2") format("woff2"),
    url("/fonts/Lato/Lato-Regular/Lato-Regular.woff") format("woff"),
    url("/fonts/Lato/Lato-Regular/Lato-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Lato-Medium";
  src: url("/fonts/Lato/Lato-Medium/Lato-Medium.woff2") format("woff2"),
    url("/fonts/Lato/Lato-Medium/Lato-Medium.woff") format("woff"),
    url("/fonts/Lato/Lato-Medium/Lato-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Raleway-Regular";
  src: url("/fonts/Raleway/Raleway-Regular/Raleway-Regular.woff2")
      format("woff2"),
    url("/fonts/Raleway/Raleway-Regular/Raleway-Regular.woff") format("woff"),
    url("/fonts/Raleway/Raleway-Regular/Raleway-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Raleway-Bold";
  src: url("/fonts/Raleway/Raleway-Bold/Raleway-Bold.woff2") format("woff2"),
    url("/fonts/Raleway/Raleway-Bold/Raleway-Bold.woff") format("woff"),
    url("/fonts/Raleway/Raleway-Bold/Raleway-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Raleway-Medium";
  src: url("/fonts/Raleway/Raleway-Medium/Raleway-Medium.woff2") format("woff2"),
    url("/fonts/Raleway/Raleway-Medium/Raleway-Medium.woff") format("woff"),
    url("/fonts/Raleway/Raleway-Medium/Raleway-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Raleway-ExtraBold";
  src: url("/fonts/Raleway/Raleway-ExtraBold/Raleway-ExtraBold.woff2")
      format("woff2"),
    url("/fonts/Raleway/Raleway-ExtraBold/Raleway-ExtraBold.woff")
      format("woff"),
    url("/fonts/Raleway/Raleway-ExtraBold/Raleway-ExtraBold.ttf")
      format("truetype");
  font-weight: normal;
  font-style: normal;
}

.swiper {
  width: 100%;
  height: 100%;
}
.swiper-wrapper {
  width: 100%;
}
.swiper-slide {
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.dot-carousel {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.dot-carousel .swiper-pagination-bullet {
  width: 5px;
  height: 5px;
  display: inline-block;
  background: white;
  opacity: 0.2;
  margin-right: 4px;

  border-radius: 20px;
  transition: opacity 0.3s, background-color 0.3s, width 0.3s;
  transition-delay: 0.3s, 0.3s, 0s;
  cursor: pointer;
}

.dot-carousel .swiper-pagination-bullet-active {
  opacity: 1;
  background: white;
  width: 15px;
  transition-delay: 0s;
}
